backports.zoneinfo @ file:///Users/runner/miniforge3/conda-bld/backports.zoneinfo_1695531373100/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
blinker==1.4
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
commonmark==0.9.1
docutils==0.16
feedgenerator==1.9.1
ghp-import @ file:///home/conda/feedstock_root/build_artifacts/ghp-import_1730193919736/work
invoke==1.4.1
Jinja2==3.1.6
livereload==2.6.1
Markdown==3.2.1
MarkupSafe==2.1.1
pelican==4.8.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2022.5
rich==12.6.0
six==1.14.0
smartypants==2.0.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
tornado==6.0.4
typing_extensions==4.4.0
typogrify==2.0.7
Unidecode==1.1.1
